{% extends "base.html" %}

{% block app_content %}
<div class="container container-fluid">
<h1>Hi, {{ current_user.username }}!</h1>
</div>
<div class="container container-fluid">
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Ticker</th>
			<th scope="col">Nombre</th>
			<th scope="col">Fecha</th>
			<th scope="col">VL</th>
			<th scope="col">Fecha Anterior</th>
			<th scope="col">VL Anterior</th>
			<th scope="col">%</th>
		</tr>
	</thead>
	<tbody>
		{%for item in table %}
		<tr>
			<td><a href="/asset/{{item[7]}}">{{item[0]}}</td>
			<td>{{item[1]}}</td>
			<td>{{item[2]}}</td>
			<td align="right">{{item[3]}}</td>
			<td>{{item[4]}}</td>
			<td align="right">{{item[5]}}</td>
			<td>{{item[6]}} %</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
<div class="container container-fluid">
	<p>Last update {{ moment(data[0]).fromNow() }}</p>
	<p>Next update {{ moment(data[1]).fromNow() }}</p>
	<form action="{{ url_for('index') }}" method="post">
		<button type="submit" name="update_now" class="btn btn-primary">Update Now</button>	
	</form>
</div>
{% endblock %}